*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  
}
.testa{
   width: 1440px;
   min-height: 100px;
   background-color: palevioletred;
   margin: auto;
   margin-bottom: 40px;
   margin-top: 10px;
}
.container1{
   width: 1440px;
   min-height: 500px;
   background-color: lightgoldenrodyellow;
   margin: auto;
   margin-bottom: 40px;
}
.container2{
   width: 1440px;
   min-height: 500px;
   margin: auto;
   margin-bottom: 40px;
   background-color: blue;
   margin-bottom: 40px;
}
.clearfix::after{
   content: "";
   display: table;
   clear: both;
}
.testa2{
   width: 1440px;
   min-height:100px;
   background-color: lightskyblue;
   margin-bottom: 20px;

}
.col-left, .col-right{
   background-color:lightskyblue ;
   float: left;
   width: 20%;
   min-height: 400px;
   margin-bottom: 20px;
}
.col-midddle{
   background-color: lightskyblue;
   float: left;
   width: calc(60% - 20px);
   min-height: 400px;
   margin: auto 10px;
}
.pie-di-pagina{
   margin: auto;
   background-color: blueviolet;
   width: 1440px;
   min-height: 50px;
   margin-bottom: 10px;
}